@import 'variables';

#aboutus {
	color: $font-color-8;
}
.aboutus-main {
	p {font-size: 18px; color: $font-color-8; padding: 10px 50px;}
}

.aboutus-video-block {
	margin-top: 20px; margin-bottom: 20px;
}

.aboutus-video-under-block {
	.two-in-row-block {text-align: left;}
	h3 {color: $font-color-1; text-align: left;}
	p {color: $font-color-1; text-align: left;}
	.button-1 {margin: 0 0; margin-top: 10px;}
	.text-aboutus {
		/*max-height: 80px;*/ overflow: hidden;
	}
}

.owr-advantages {
	padding: 30px 0px;  overflow: hidden;
	p {font-size: 18px; color: $font-color-8; padding: 10px 50px;}
}
.owr-advantages-bg {
	overflow: hidden; position: relative; background: url(../img/aboutus.jpg) center;
			background-size: cover;
	.owr-advantages-content {
		position: relative; z-index: 9999; text-align: center; padding: 120px 0;
		h6 {padding: 10px 42px;}
	}
}

.about-icon {
	width: 138px; height: 138px; display: inline-block;
}
.about-icon-1 {background: url(../img/about/about-icon-1.png) no-repeat; background-size: 100% 100%;}
.about-icon-2 {background: url(../img/about/about-icon-2.png) no-repeat; background-size: 100% 100%;}
.about-icon-3 {background: url(../img/about/about-icon-3.png) no-repeat; background-size: 100% 100%;}
.about-icon-4 {background: url(../img/about/about-icon-4.png) no-repeat; background-size: 100% 100%;}

.ourteam {
	p {color: $font-color-8; padding: 10px 60px; font-size: 18px;}
}

.ourteam-container {width: 80%; padding: 0 10%; padding-bottom: 40px;}

.ourteam-photo-block {
	padding: 8px; border: 1px solid #999; display: inline-block;
	h6 {
		font-size: 14px; padding: 10px 0; color: $color-11;
		span {font-size: 16px; color: $color-2;}
	}
}

.ourclients-bg {
	background: url(../img/ourclients-bg.jpg) no-repeat; background-size: cover; position: relative;
	.ourclients {
		padding: 100px 0;
		h2 {color: $color-1;}
		.block-title-with-text-line-2 {border-color: $color-1;}
		.client-logo {display: inline-block; margin: 10px 40px;}
	}
}