@import 'variables';

#news {

}

.news-content {
 padding-bottom: 40px;
}

.news-colums {
	margin: 0px 0 0 0; overflow: hidden; box-sizing: border-box;
	h5 {color: $font-color-7; margin-top: 6px; margin-bottom: 14px;}
	p {color: $font-color-9;}
}

.news-content-block-left {
	.news-content-box-left {
		float: left; width: 50%; height: 100%; text-align: center; padding: 15px 0%; position: relative;
		border-right: 2px grey solid; margin-left: -2px; padding-right: 0px;
		p {text-align: right; padding: 0 30px;} h5 {text-align: right; padding: 0 30px;}
		img {width: 80%; height: auto;}
	}
	.news-content-box-right {
		float: right; width: 50%; text-align: center; padding: 15px 0%; position: relative;
		border-left: 2px grey solid; margin-left: -2px; padding-left: 0px;
		p {text-align: left; padding: 0 30px;} h5 {text-align: left; padding: 0 30px;}
		img {width: 80%; height: auto;}
	}
}

.news-content-block-right {
	.news-content-box-left {
		float: right; width: 50%; height: 100%; text-align: center; padding: 15px 0%; position: relative;
		border-left: 2px grey solid; margin-left: -2px; padding-right: 0px;
		p {text-align: right; padding: 0 30px;} h5 {text-align: right; padding: 0 30px;}
		img {width: 80%; height: auto;}
	}
	.news-content-box-right {
		float: left; width: 50%; text-align: center; padding: 15px 0%; position: relative;
		border-right: 2px grey solid; margin-left: -2px; padding-left: 0px;
		p {text-align: right; padding: 0 30px;} h5 {text-align: right; padding: 0 30px;}
		img {width: 80%; height: auto;}
	}
}

.gray-dot {
	width: 20px; height: 20px; background-color: gray;
	border: 1px solid gray; position: absolute; top: 15px; right: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin-right: -12px;
}

.news-wrap-button {text-align: center; padding: 20px 0;}
