/* variables */

$color-0: transparent;
$color-1: #fff;
$color-2: #00b3ef;
$color-3: #f6f6f6;
$color-4: #dddddd;
$color-5: #727272;
$color-6: #f5f5f5;

$color-transparent-1: rgba(255,255,255,0.6);
$color-transparent-2: rgba(255,255,255,0.5);
$color-transparent-3: rgba(255,255,255,0.3);

$background-transparent-1: rgba(0,0,0,0.8);
$background-transparent-2: rgba(255,255,255,0.4);
$background-1: #fff;
$background-2: #00212c;
$background-3: #03c0ff;

$font-color-1: #576165;
$font-color-2: #00A0E2;
$font-color-3: #666;
$font-color-4: #000;
$font-color-5: #fff;
$font-color-6: #727272;
$font-color-7: #00b3ef;
$font-color-8: #212121;
$font-color-9: #757575;
$font-color-10: #868686;
$font-color-11: #1a1918;