/* variables */

$color-0: transparent;
$color-1: #fff;
$color-2: #00b3ef;
$color-transparent-1: rgba(255,255,255,0.6);

$background-transparent-1: rgba(0,0,0,0.8);
$background-1: #fff;

$font-color-1: #576165;