@charset "UTF-8";
@media screen and (max-width: 1200px) {
  .width-center-block {
    width: 960px; } }
@media screen and (max-width: 1000px) {
  .width-center-block {
    width: 760px; }

  #main-menu .main-menu-center-block {
    padding: 10px 0; }
    #main-menu .main-menu-center-block .logo {
      width: 312px;
      height: 45px;
      float: none;
      margin: 0 auto; }
    #main-menu .main-menu-center-block .menu {
      width: 100%;
      min-height: 0px;
      padding: 10px 0;
      float: none; }
      #main-menu .main-menu-center-block .menu ul {
        width: 100%;
        padding: 0px 0 0 0;
        margin: 0; }
        #main-menu .main-menu-center-block .menu ul li {
          padding-left: 0;
          text-align: center; }

  #main .main-content {
    padding-top: 54px !important; }

  /* ╤В╨╡╨║╤Б╤В ╨╜╨░ ╨│╨╗╨░╨▓╨╜╨╛╨╣ */
  .main-text h1, .main-text h2 {
    font-size: 26px; }

  /* 3 ╨▒╨╗╨╛╨║╨░ ╨▓ ╤А╤П╨┤ */
  .three-in-row-block-wrap {
    padding: 0; }
    .three-in-row-block-wrap .three-in-row-block {
      width: 100%;
      height: auto;
      float: left; } }
@media screen and (max-width: 800px) {
  .width-center-block {
    width: 560px; } }
@media screen and (max-width: 600px) {
  .width-center-block {
    width: 100%; }

  #main-menu {
    display: none; } }
