@media screen and (max-width: 1200px) {
	.width-center-block {width: 960px;}
}

@media screen and (max-width: 1000px) {
	.width-center-block {width: 760px;}
	#main-menu {
		.main-menu-center-block {
			padding: 10px 0;
			.logo {
				width: 312px; height: 45px; float: none; margin: 0 auto;
			}
			.menu {
				width: 100%; min-height: 0px; padding: 10px 0; float: none;
				ul {
					width: 100%; padding: 0px 0 0 0; margin: 0;
					li {
						padding-left: 0; text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.width-center-block {width: 560px;}
}

@media screen and (max-width: 600px) {
	.width-center-block {width: 100%;}
	.menu {display: none;}
}