@import 'variables';

#main {
	width: 100%; min-height: 100%; position: relative;
	.main-slider {
		width: 100%; min-height: 100%; position: absolute;
		.main-slide {width: 100%; min-height: 100%; position: absolute;}
		.main-slide-1 {background: url(../img/main-bg-1.jpg) center; background-size: cover;}
		.main-slide-2 {background: url(../img/main-bg-2.jpg) center top; background-size: cover;}
		.main-slide-3 {background: url(../img/main-bg-3.jpg) center bottom; background-size: cover;}
		.main-slide-4 {background: url(../img/main-bg-4.jpg) center top; background-size: cover;}
		.main-slide-5 {background: url(../img/main-bg-5.jpg) center top; background-size: cover;}
		.main-slide-cover {background: rgba(0,0,0,0.5);}
	}
	.main-content {position: relative; z-index: 1; padding-top: 118px;}
	.main-text {
		height: auto; text-align: center; margin: 0 auto; padding: 20px 0; overflow: hidden;
	}
	.main-select-block-photo {
		width: 88%; padding: 2%; margin: 4%; background: $background-1; position: relative; opacity: 0;
		.main-img-1 {
			width: 96%; height: 242px; padding: 2%; position: relative;
			background: url(../img/secect-center-1.jpg) center;
			background-size: 100% 100%;
		}
		.main-img-wrap {
			img {width: 100%; height: auto; padding: 0;}
		}
		.main-img-cover {
			width: 91%; height: 89%; margin: 2%; position: absolute; background: $background-transparent-1;
			opacity: 0; cursor: pointer;
			-webkit-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			&:hover {opacity: 1;}
			.main-img-cover-content-wrap {
				width: 100%; height: 100%; display: table;
				.main-img-cover-content {
					width: 100%; height: 100%;
					display: table-cell; vertical-align: middle; text-align: center;
					h5 {display: inline-block;}
					p {color: $color-transparent-1; font-size: 10px; padding: 6px 20px;}
					.main-img-cover-content-line {
						width: 80%; border-bottom: 2px $color-2 solid; margin: 0 auto
					}
				}
			}
		}
	}
	.main-select-block-text {
		text-align: left; margin: 0 4%;
		.main-select-block-text-line {width: 60px; border-bottom: 1px $color-1 solid; margin: 16px 0;}
	}
	.footer {
		padding: 30px 0;
		.footer-text-left {float: left;}
		.footer-text-right {float: right;}
	}
}

@-webkit-keyframes up {
0% {opacity: 0; -webkit-transform: scale(0);} 
100% {opacity: 1; -webkit-transform: scale(1);}
}
@-moz-keyframes up {
0% {opacity: 1; -webkit-transform: scale(0);} 
50% {opacity: 1; -webkit-transform: scale(1);}
}
@-o-keyframes up {
0% {opacity: 0; -webkit-transform: scale(0);} 
100% {opacity: 1; -webkit-transform: scale(1);}
}
@keyframes up {
0% {opacity: 0; -webkit-transform: scale(0);} 
100% {opacity: 1; -webkit-transform: scale(1);}
}
.up {
-webkit-animation-name: up;
-moz-animation-name: up;
-o-animation-name: up;
animation-name: up;
/* Задержка перед началом */
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
-o-animation-delay: 1s;
animation-delay: 1s;
/* Продолжительность анимации */
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}