@import 'variables';

div, ul, li, ul, li,h1, h2, p, a {outline: 1px red solid;}
.clear {outline: 1px blue solid;}

html,body {width: 100%; height: 100%;}
body,a {font-family: "OpenSansRegular",OpenSansRegular,Arial,sans-serif; color: $color-1;}
h1,h2,h3,h4,h5,h6,a,p {color: $color-1; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,a,p { 
	span{
		font-family: "OpenSansBold",OpenSansBold,Arial,sans-serif;
	}
	strong {color: $color-transparent-3;}
	blink {color: $font-color-2;}
}

h1 {font-size: 40px;}
h2 {font-size: 36px;}
h5 {font-size: 26px;}
h6 {font-size: 18px;}
p {font-size: 16px;}

/* Накидка на фон */
.cover-black {background: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%;}
.cover-blue {background: rgba(0,172,236,0.3); position: absolute; width: 100%; height: 100%;}

.main-menu-padding-top {padding-top: 115px;}

/*Убираем странный нижний отступ*/
img {vertical-align:bottom;}

.clear {clear: both;}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}


//*************************************************

.width-center-block {width: 1170px; margin: 0 auto;}

#main-menu {
	width: 100%; min-height: 0; position: fixed; z-index: 99999;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	.main-menu-center-block {
		min-height: 45px; padding: 35px 0;
		.logo {
			width: 312px; height: 45px; float: left;
			background: url(../img/svg/logo.svg);
			background-size: 100% 100%;
		}
		.logo-white {
			width: 312px; height: 45px; float: left;
			background: url(../img/svg/logo-white.svg)!important;
			background-size: 100% 100%!important;
		}
		.logo-blue-gray {
			width: 312px; height: 45px; float: left;
			background: url(../img/svg/logo-blue-gray.svg)!important;
			background-size: 100% 100%!important;
		}
		.menu {
			font-family: "OpenSansBold",OpenSansBold,Arial,sans-serif;
			min-height: 45px; float: right;
			ul {
				display: table; padding: 0px 0 0 0; margin: 0;
				li {
					display: table-cell; padding-left: 32px;
					a.a-white {
						text-decoration: none; display: inline-block; height: 30px;
						border-bottom: 1px $color-0 solid; color: $color-1;
						-webkit-transition: 300ms;
						-o-transition: 300ms;
						transition: 300ms;
						&:hover {border-bottom: 1px $color-1 solid;}
						&.active {border-bottom: 1px $color-1 solid;}
					}
					a.a-gray {
						text-decoration: none; display: inline-block; height: 30px;
						border-bottom: 1px $color-0 solid; color: $font-color-1;
						-webkit-transition: 300ms;
						-o-transition: 300ms;
						transition: 300ms;
						&:hover {border-bottom: 1px $font-color-1 solid;}
						&.active {border-bottom: 1px $font-color-1 solid;}
					}
				}
			}
		}
	}
}

/* Кнопки */

.button-1 { 
	display: inline-block; padding: 10px 20px;
	font-size: 16px;  cursor: pointer;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	font-family: "OpenSansBold",OpenSansBold,Arial,sans-serif;
	text-transform: uppercase;

	color: $font-color-5; border: 1px solid $color-2; background: $color-2;
}
.button-1:hover {color: $font-color-6; border: 1px solid $color-5;  background: transparent;}

/* Стили для табличных блоков - 4 в ряд */
.four-in-row-block-wrap {
	padding: 0; position: relative;
	.four-in-row-block {
		width: 25%; height: auto; float: left; text-align: center;
	}
}
/* Стили для табличных блоков - 3 в ряд */
.three-in-row-block-wrap {
	padding: 0;
	.three-in-row-block {
		width: 33.3%; height: auto; float: left; text-align: center;
	}
}
/* Стили для табличных блоков - 2 в ряд */
.two-in-row-block-wrap {
	padding: 0;
	.two-in-row-block {
		width: 50%; height: auto; float: left; text-align: center;
	}
}

/*********************************/

.block-title-with-text {
	text-align: center; padding: 32px 0;   overflow: hidden;
	h1 {color: $font-color-2; font-size: 40px; text-transform: uppercase;}
	.block-title-with-text-line {
		width: 80px; margin: 0 auto; border-bottom: 4px solid $color-2;
		margin-top: 45px; margin-bottom: 40px;
	}
	p {color: $font-color-8; font-size: 18px; max-width: 470px; margin: 0 auto;} 
}

/* стили адаптивного слайдера */

.adaptive-slider-container {
	overflow: hidden; position: absolute; width: 100%; height: 100%;
	img {display: none;}
	.cover-img {
		position: absolute; width: 100%; height: 100%;
		background-size: cover!important;
		background-position: top!important;
		opacity: 0;
		-webkit-transition: all 0.6s;
		-o-transition: all 0.6s;
		transition: all 0.6s;
	}
}

/* кнопка вниз */
.down_button {
	width: 36px; height: 36px; position: absolute; position: center; bottom: 100px; left: 50%; margin-left: -18px;
	background: url(../img/icons/btn-down-up.png) no-repeat center; background-size: cover; cursor: pointer; z-index: 2;
	&:hover {background: url(../img/icons/btn-down-down.png) no-repeat center; background-size: cover;}
}