.rent-content-wrap-1 {
  height: 900px;
  overflow: hidden;
  position: relative; }
  .rent-content-wrap-1 img {
    display: none; }
  .rent-content-wrap-1 .cover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: top !important;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
